@use "../../variables" as *;

.submit-button {
  background-color: $primary;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  color: #0db0f1;
}

.submit-button:hover {
  cursor: pointer;
}
